{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/collections.css') }}"/>
{% endblock %}

{% block content %}

<div id="table-container">
	<table id="collection-table">
		<colgroup><col><col><col><col><col></colgroup>
		<thead>
			<tr><th>Select</th><th>ID</th><th>Name</th><th>Type</th><th>View</th></tr>
		</thead>
		<tbody>

			{% for spec in spectra %}
				<tr><td><input type="checkbox"></td><td>0001</td><td>{{spec}}</td><td>SDSS</td><td><a href=''>View</a></td></tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}

{% block script %}
{% endblock %}
