{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/catalog.css') }}"/>
{% endblock %}

{% block content %}

<div id="table-container" data-component="catalog-table" data-catalog="{{ catalog.slug }}">
	<div id="table-header" class="dialog-box">
		<h2 id="catalog-name">{{ catalog.name }}</h2>
		<p id="catalog-desc">{{ catalog.description }}</p>
	</div>
	<!-- TODO: search, filter, etc -->
	<!-- TODO: product type is editable -->
	<!-- TODO: pagination -->
	<table id="catalog-table"></table>
</div>

{% endblock %}

{% block script %}
{% endblock %}
