.modal-container {
    display: flex;
    gap: 2vw;
    justify-content: space-around;
    align-items: stretch;
    justify-self: center;
    margin-top: 10vh;
    margin-bottom: 20vh;
    min-width: 33vw;
    padding: 30px;

    .modal-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .modal-label {
            text-align: center;
            font-size: 24px;
            font-weight: 100;
            padding-bottom: 10px;
        }

        #catalog-list {
            display: flex;
            padding: 0;
            flex-direction: column;
            list-style-type: none;
            justify-content: center;
            align-items: center;
            width: 98%;
        }

        .info-list {
            width: 100%;
            /*max-width: 400px;*/
            display: flex;
            flex-direction: column;
            /*place-items: center;*/
            margin: 10px 0px;
        }
    }
}


.modal-accordion {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .modal-card {
        background: var(--dark-second);
        border: 1px solid var(--trim-color);
        border-radius: 14px;
        overflow: hidden;

        .card-header {
            width: 100%;
            padding: 14px 18px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            background: var(--dark-primary);
            border: none;

            color: var(--text-color);
            font-size: 18px;
            font-weight: 600;

            cursor: pointer;

            &:hover {
                background: var(--trim-color-subtle);
            }
        }

        .card-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease, padding 0.3s ease;
            padding: 0 18px;
            border-top: 1px solid transparent;
        }
    }

    .modal-card.open .card-content {
        max-height: 300px;
        overflow-y: auto;
        padding: 14px 18px;
        border-top: 1px solid var(--trim-color);
    }
}

.details-table {
    thead th {
        color: var(--text-color);
    }

    th, td {
        background: var(--dark-second);
        border-inline-width: 0 0;
        text-align: left;
        padding: 10px 20px;
    }

    td input {
        width: 80px;
    }

    tr:hover {
        color: var(--text-color);
    }
}

.details-table tbody tr td input {
    font-size: 12px;
    margin: 4px 8px;
    background: var(--dark-primary);
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 3px 7px;
    outline: none;
}

#feature-attr-table {
    margin: 10px 0;
}

#feature-names-list {
    background: var(--dark-primary);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--trim-subtle);
    margin-bottom: 10px;

    .name-pill {
        margin: 10px;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid var(--trim-color);
        min-width: 50px;
        text-align: center;
    }
}

#column-format-row {
    margin-top: 20px;
}