{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/spectra-viewer.css') }}"/>
{% endblock %}

{% block content %}

<div class="dialog-box full-viewer-container">
	<div class="plot-layout-40-60">
		<div data-component="map-viewer" id="map-viewer">
			<div class="viewer-container">
				<div class="plot-wrapper">
					<div id="mv-plotly-container" class="plotly-container"></div>
				</div>
			</div>
		</div>
		<div data-component="spectra-viewer" id="spectra-viewer">
			<div class="viewer-container">
				<div class="plot-wrapper">
					<div id="sv-plotly-container" class="plotly-container"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-component="activity-container">
	<div id="activity-controller" data-catalog="{{ catalog_slug }}" data-spec="{{ spec_name }}">
		<div id="activity-switcher">
			<div id="activity-button-container">
				<div id="activity-button"></div>
				<span class="fa-solid fa-chevron-right fa-xl"></span>
			</div>
			<div id="activity-menu">
			</div>
		</div>
		<div class="color-bar-small shadow"></div>
		<div id="activity-panel"></div>
	</div>
</div>

{% endblock %}

{% block script %}
{% endblock %}
