{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/spectra-viewer.css') }}"/>
{% endblock %}

{% block content %}

<div data-component="spectra-viewer" id="spectra-viewer" class="dialog-box">
	<div id="viewer-container">
		<div id="plot-wrapper">
			<div id="plotly-container"></div>
		</div>
	</div>
</div>

<div data-component="activity-container">
	<div id="activity-controller" data-collection="{{ collection_slug }}" data-spec="{{ spec_name }}">
		<div id="activity-switcher">
			<div id="activity-button-container">
				<div id="activity-button"></div>
				<span class="fa-solid fa-chevron-right fa-xl"></span>
			</div>
			<div id="activity-menu">
			</div>
		</div>
		<div id="activity-panel"></div>
	</div>
</div>

{% endblock %}

{% block script %}
{% endblock %}
